*{
    box-sizing: border-box;
    margin: 0px;
}
header {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    min-height: 100vh;
    background-image: url(images/backpacker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wow_air_logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.navbar{
    justify-self: right;
    display: flex;
    flex-direction: row;
}

.navbar_button{
    grid-column: 1/2;
    grid-row: 2/3;
    color:white;
    font-size: 2em;
    margin: 40px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.ckeckin{
    background-color: #9B248F;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}
.active {
    color: #9B248F;
}

.navbar p {
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    color: #9B248F;
    margin-top: 10%;
    margin-right: 100px; 
    font-weight: bolder;
}
.overskrift{
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: flex-end;
    font-family: proxima-nova, sans-serif;
    margin: 10px;
}
.overskrift p{
    color: white;
    font-size: 2em;
    margin-left: 10px;
}
h1{
    font-size: 3.5em;
    color: white;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
}
main{
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 1fr 4fr;
    margin-bottom: 30px;    
}
.categories {
    grid-column: 1/5;
    grid-row: 1;
    justify-self: center;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    margin-top: 20px;
}
.categories_text{
    font-family: proxima-nova, sans-serif;
    color: rgb(91, 103, 116);
    grid-row: 2;
    justify-self: center;
}
.sun{
    border: none;
    color:white;
    background-color: #FACC00;
    border-radius: 100%;
    margin: 25px;
    padding: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    width: 150px;
    height: 150px;
    font-size: 1em;
}
.leaf{
    border: none;
    color: white;
    background-color: #FF8319;
    border-radius: 100%;
    margin: 25px;
    padding: 25px 20px 25px 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    width: 150px;
    height: 150px;
}
.snowflake{
    border: none;
    color: white;
    background-color: #84F1FF;
    border-radius: 100%;
    margin: 25px;
    padding: 25px 30px 25px 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    width: 150px;
    height: 150px;
}
.seedling{
    border: none;
    color: white;
    background-color: #A7F27F;
    border-radius: 100%;
    margin: 25px;
    padding: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    width: 150px;
    height: 150px;
}
.sun:hover, .leaf:hover, .snowflake:hover, .seedling:hover{
    color: #9B248F;
    background-color: white;
}
.sun.active,  .leaf.active, .snowflake.active, .seedling.active{
    background-color: blue;
}
.fa-sun, .fa-leaf, .fa-snowflake, .fa-seedling{
    font-size: 6em;
}
#fall, #winter, #spring {
    display: none;
}


.boxes{
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;  
}
.offers {
    font-family: proxima-nova, sans-serif;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.44);
}
.offers img{
    grid-column: 1/3;
    max-width: 100%;
}
.top_picks {
    grid-column: 1/3;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    background-color:#9B248F;
    color: white;
    padding: 10px;
    position: absolute;
}
.on_sale {
    grid-column: 1/3;
    background-color: #FACC00;
    padding: 10px;
    font-size: 2em;
    position: absolute;
}
.pexels_img {
    grid-column: 1/3;
    grid-row: 1/2;
    position: absolute;
    margin-top: 27%;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
}

h3{
    font-size: 2.5em;
    padding: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
.price {
    font-size: 2.5em;
    padding: 10px;
    margin-top: 10px;
    justify-self: center;
}
.including{
    font-size: 1.2em;
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.including p{
    padding-bottom: 10px;
}
.booking {
    font-size: 2em;
    padding: 10px;
    align-self: center;
    color: white;
    background-color: #9B248F;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.25);
}
.booking:hover{
    opacity: 0.7;
}
.sale{
    color: black ;
    background-color: #FACC00;
    width: fit-content;
    height: fit-content;
}



/* Footer section starts here */
footer{
    font-family: proxima-nova, sans-serif;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    background-color: #9B248F;
    color: white;
}
.wow_air {
    padding: 10px;
    margin: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 90%;
}
.wow_air h2{
    grid-column: 1/3;
    font-size: 1.5em;
}
.wow_air p{
    margin-left: 5px;
    font-size: 1.2em;
    align-self: center;
    cursor: pointer;
}
.email, .telefon{
    font-family: proxima-nova, sans-serif;
    margin: 15px;
    font-size: 1.5em;
}
.wow_world {
    grid-column: 2/3;
    margin: 10px;
    padding: 10px;
}
.wow_world h2{
    font-size: 1.5em;
}
.wow_world p{
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
}
.follow_us {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}
.follow_us h2{
    grid-column: 1/3;
    font-size: 1em;
}
.follow_us p{
    font-size: 0.8em;
    cursor: pointer;
}

.payment_options{
    grid-column: 1/4;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}
.payment_options h2{
    margin-top: 25px;
}
.payment_options .fab {
    margin: 10px;
    font-size: 4em;
}