

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wow_air_logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
}

.navbar_button{
    color:#9B248F;
    font-size: 2em;
    margin: 40px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #9B248F;
    margin-top: 10%;
    margin-right: 100px; 
    font-weight: bolder;
}
h1{
    grid-column: 1/5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
    border-style: solid;
    margin-top: 300px;
    padding: 10px;
    width: 60%;
    margin-bottom: 25px;
}
main{
    display: grid;
    grid-template-columns:  50% 50% ;
    grid-gap: 20px;
}



/* Booking side starter her */ 
.body_booking_page{
    background-image: url(images/backpacker.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    grid-template-columns: 1fr;
    display: grid;
    margin: 0%;
    padding: 0%;
}


.travel_selector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    justify-self: center;
    align-self: center;
    padding: 20px;
    margin: 5px 50px 200px 50px;
}

.from_p{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    color: #9B248F;
    font-size: 2em;
    font-weight: bolder;
    margin: 10px 10px 0px 10px;
}

.from{
    grid-column: 1;
    grid-row: 2;
}

.to_p{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    color: #9B248F;
    font-size: 2em;
    font-weight: bolder;
    margin: 10px 10px 0px 10px;
}

.to{
    grid-column: 2;
    grid-row: 2;
}

input{
    background-color: #9B248F;
    border: none;
    font-weight: bold;
    font-size: 1em;
    margin: 10px;
}

::placeholder{
    color: white;
    text-align: center;
}

.show_budget_calender{
    
    color: #9B248F;
    font-weight: bold;
    font-size: 2em;
    margin: 10px;
    grid-column: 1;
    grid-row: 5;
   
}

.search_button{
    background-color:#9B248F;
    color: white;
    font-weight: bold;
    font-size: 1em;
    grid-column: 1/3;
    grid-row: 6;
    margin: 10px;
    border: none;
    width: 200px;
    justify-self: center;
}

/* The styling for the checkbox starts here - Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* The container */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-row: 4;
  }
  
/* Hide the browser's default checkbox */
.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-top: 25px;
  }
  
  /* On mouse-over, add a grey background color */
  .container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* Here is the styling for the honest fairs buttons */
.Honest_fares_headline{
    font-size: 8em;
    color: #9B248F;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    margin: 30px;
}

.honest_fares_button_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}

.honest_fares_buttons{
    background-color:#9B248F;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 40px;
     justify-self: center;
     grid-row: 1;
     margin-bottom: 5px;
}

.Honest_fares_subheadlines{
    font-size: 5em;
    color: #9B248F;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    margin: 20px;
}

.honest_fairs_paragraph{
    text-align: center;
    color: #9B248F;
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px;
    align-self: start;
}

.honest_fares_luggage{
    color: #9B248F;
    font-weight: bold;
    font-size: 2em;
    margin: 20px;
    text-align: center;
}

.honest_fares_luggage_heading{
    font-size: 4em;
    font-weight: bold;
    margin: 10px;
}




/* Mindre skærme */

@media only screen and (max-width: 1280px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wow_air_logo {
        display: none;
    }
    
    .navbar_button{
        color:#9B248F;
        font-size: 2em;
        margin: 20px;
    }
    
    main{
        display: grid;
        grid-template-columns:  50% 50% ;
        grid-gap: 20px;
    }
    .body_booking_page{
        background-image: url(images/backpacker.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: grid;
        margin: 0%;
        padding: 0%;
    }
    
    .travel_selector{
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #9B248F;
        justify-self: center;
        align-self: center;
        padding: 50px;
        max-width: 50%;
    }
    
    .from_p{
        grid-column: 1;
        grid-row: 1;
        color: white;
    }
    
    .from{
        grid-column: 1;
        grid-row: 2;
    }
    
    .to_p{
        grid-column: 1;
        grid-row: 4;
        color: white;
    }
    
    .to{
        grid-column: 1;
        grid-row: 5;
    }
    
    input{
        background-color: white;
    }
    
    ::placeholder{
        color: #9B248F;
    }
    
    .show_budget_calender{
        color: white;
        grid-column: 1;
        grid-row: 7;
       
    }
    
    .container_checkbox{
        grid-column: 1;
        grid-row: 7;
    }

    .search_button{
        background-color:white;
        color: #9B248F;
        font-weight: bold;
        font-size: 1em;
        grid-column: 1;
        grid-row: 9;
        margin: 10px;
        border: none;
    }
    
    /* Here is the styling for the honest fairs buttons */
    .Honest_fares_headline{
        font-size: 4em;
        margin-bottom: 20px;
    }
    
    .honest_fares_buttons{
        width: 100px;
        height: 100px;
        margin: 40px 20px 0px 20px;
    }
    
    .honest_fares_buttons_paragraf{
        display: none;
    }
    
    .honest_fares_luggage_heading{
        font-size: 2em;
    }

    .Honest_fares_subheadlines{
        font-size: 3em;
    }
      }



      footer{
        display: grid;
        grid-template-columns: 3fr;
        background-color: #9B248F;
        color: white;
    }
    .wow_air {
        padding: 10px;
        margin: 10px;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }
    .fas {
        margin: 5px;
        font-size: 1.5em;
    }
    .wow_world {
        grid-column: 2/3;
        margin: 10px;
        padding: 10px;
    }
    .wow_world p, h2{
        padding: 5px;
        font-size: 1.5em;
    }
    .follow_us {
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin: 10px;
        padding: 10px;
    }
    .follow_us .fab{
        margin: 10px;
    }
    .payment_options{
        grid-column: 1/4;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }
    .payment_options h2{
        margin-top: 25px;
    }
    .payment_options .fab {
        margin: 10px;
        font-size: 4em;
    }