.body_booking_page{
    background-image: url(images/backpacker.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    grid-template-columns: 1fr;
    display: grid;
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wow_air_logo {
    width: 150px;
    height: 150px;
    margin: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
}

.navbar_button{
    color:white;
    font-size: 2em;
    margin: 40px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 40px;
}

.checkin{
    background-color: #9B248F;
    
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}


.booking_button{
    color: #9B248F;
}


/* Booking site starts here */ 


.travel_selector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    justify-self: center;
    align-self: center;
    padding: 20px;
    margin: 5px 50px 400px 50px;
    border-radius: 5px;
}

.from_p{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    margin: 10px 10px 0px 10px;
    font-family: proxima-nova, sans-serif;
}

.from{
    grid-column: 1;
    grid-row: 2;
    border-radius: 5px;
    font-family: proxima-nova, sans-serif;
}

.to_p{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    margin: 10px 10px 0px 10px;
    font-family: proxima-nova, sans-serif;
}

.to{
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
    font-family: proxima-nova, sans-serif;
}

input{
    background-color: #9B248F;
    border: none;
    font-weight: bold;
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    color: white;
}

::placeholder{
    color: white;
    text-align: left;
    padding: 5px;  
}

.show_budget_calender{
    
    color: black;
    font-size: 1em;
    margin: 10px;
    grid-column: 1;
    grid-row: 5; 
    font-family: proxima-nova, sans-serif;
}

.search_button{
    background-color:#9B248F;
    color: white;
    font-weight: bold;
    font-size: 1em;
    grid-column: 1/3;
    grid-row: 6;
    margin: 10px;
    border: none;
    width: 300px;
    justify-self: center;
    border-radius: 5px;
    font-family: proxima-nova, sans-serif;
}

/* The styling for the checkbox starts here - Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* The container */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-row: 4;
  }
  
/* Hide the browser's default checkbox */
.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    margin: 5px;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container_checkbox:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_checkbox input:checked ~ .checkmark {
    background-color: #9B248F;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/*styling for the honest fairs buttons */
.Honest_fares_headline{
    font-size: 8em;
    font-family: proxima-nova, sans-serif;
    color: #9B248F;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    margin: 30px;
}

.honest_fares_button_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.honest_fares_buttons{
    background-color:#9B248F;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 40px;
     justify-self: center;
     grid-row: 1;
     margin-bottom: 5px;
     outline: none;
}

.fa-credit-card, .fa-wifi, .fa-utensils, .fa-suitcase{
    font-size: 4em;
}

/* source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_close */
/* Change background color of buttons on hover */
.honest_fares_buttons:hover {
    background-color: black;
  }
  
  /* Create an active/current tablink class */
  .honest_fares_buttons.active {
    background-color:black;
  }


.Honest_fares_subheadlines{
    font-size: 5em;
    font-family: proxima-nova, sans-serif;
    color: #9B248F;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    margin: 20px;
}

.honest_fairs_paragraph{
    text-align: center;
    color: black;
    font-size: 1.5em;
    margin: 20px;
    align-self: start;
    font-family: proxima-nova, sans-serif;
}

.honest_fares_luggage{
    color: #9B248F;
    font-weight: bold;
    font-size: 2em;
    margin: 20px;
    text-align: center;
}

.honest_fares_luggage_heading{
    font-size: 4em;
    font-weight: bold;
    margin: 10px;
}


/* making the page responsive */
@media only screen and (max-width: 1000px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wow_air_logo {
        display: none;
    }
    
    .navbar_button{
        font-size: 2em;
        margin: 20px;
    }
    
    main{
        display: grid;
        grid-template-columns:  50% 50% ;
        grid-gap: 20px;
    }
    .body_booking_page{
        background-image: url(images/backpacker.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: grid;
        margin: 0%;
        padding: 0%;
    }
    
    .travel_selector{
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #9B248F;
        justify-self: center;
        align-self: center;
        padding: 50px;
        max-width: 50%;
    }
    
    .from_p{
        grid-column: 1;
        grid-row: 1;
    }
    
    .from{
        grid-column: 1;
        grid-row: 2;
    }
    
    .to_p{
        grid-column: 1;
        grid-row: 4;
    }
    
    .to{
        grid-column: 1;
        grid-row: 5;
    }
    
    input{
        background-color: white;
        color: black;
    }
    
    ::placeholder{
        color: black;
    }
    
    .show_budget_calender{
        grid-column: 1;
        grid-row: 7;
       
    }
    
    .container_checkbox{
        grid-column: 1;
        grid-row: 7;
    }

     /* Style for the checkmark/indicator */
  .container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 /* When the checkbox is checked, add a blue background */
 .container_checkbox input:checked ~ .checkmark {
    background-color: white;
  }

    .search_button{
        background-color:white;
        color: black;
        font-weight: bold;
        font-size: 1em;
        grid-column: 1;
        grid-row: 9;
        margin: 10px;
        border: none;
    }
    
    /*styling for the honest fairs buttons */
    .Honest_fares_headline{
        font-size: 4em;
        margin-bottom: 20px;
    }
    
    .honest_fares_buttons{
        width: 100px;
        height: 100px;
        margin: 40px 20px 0px 20px;
    }
    
    .honest_fares_buttons_paragraf{
        display: none;
    }
    
    .honest_fares_luggage_heading{
        font-size: 2em;
    }

    .Honest_fares_subheadlines{
        font-size: 3em;
    }
      }



/* Footer section starts here */
footer{
    font-family: proxima-nova, sans-serif;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    background-color: #9B248F;
    color: white;
}
.wow_air {
    padding: 10px;
    margin: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 90%;
}
.wow_air h2{
    grid-column: 1/3;
    font-size: 1.5em;
}
.wow_air p{
    margin-left: 5px;
    font-size: 1.2em;
    align-self: center;
    cursor: pointer;
}
.email, .telefon{
    font-family: proxima-nova, sans-serif;
    margin: 15px;
    font-size: 1.5em;
}
.wow_world {
    grid-column: 2/3;
    margin: 10px;
    padding: 10px;
}
.wow_world h2{
    font-size: 1.5em;
}
.wow_world p{
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0%;
}
.follow_us {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}
.follow_us h2{
    grid-column: 1/3;
    font-size: 1em;
    margin-bottom: 0px;
}
.follow_us p{
    font-size: 0.8em;
    cursor: pointer;
    margin: 0px;
}

.payment_options{
    grid-column: 1/4;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}
.payment_options h2{
    margin-top: 25px;
}
.payment_options .fab {
    margin: 10px;
    font-size: 4em;
}